.less-than-22 {
    font-style: italic;
    color: yellow;
}
.equal-or-greater-than-22 {
    font-weight: bold;
    color: red;
}
.paragraph-modified {
    color: red; 
    font-weight: bold;
}
p {
    color: red;
    &.highlight {
        background-color: yellow;
        font-style: italic;
    }
    &.random {
        border: 1px solid green; 
    }
}